<div class="main">
<div class="container add-inventory-food w-full p-4 b-2">
    <%= form_with model: @inventory_food, url: "/inventory_foods/#{@inventory.id}/create",  local: true, data: {turbo:false} do |m| %>
        <h2 class="text mb-4">Add food to inventory</h2>
        <div class="add-food-form">
          <%= m.select :food_list, Food.order(:name).pluck(:name, :id), {}, {:multiple => true, required:true, class: "form-select mb-3"} %>
          <div class="input-group">
          <%= m.label :quantity, class: "form-label input-label" %>
          <%= m.number_field :quantity, class: "form__field" %>
          </div>
        </div>
        <%= m.submit 'Add food', class: "btn btn--primary btn--inside uppercase" %>
    <% end %>
</div>
</div>