<p style="color: green"><%= notice %></p>

<div>
<div class="section-title">
<h1>Inventories</h1>

<%= link_to "Add new", new_inventory_path, class: "btn btn-add" %>
</div>
<div id="inventories">
  <% @inventories.each do |inventory| %>
  <%= link_to inventory, :action => 'go' do %>
  <div class="inventory">
    <%= render inventory %>
    <div class="left-side">
    <h5>
      <%= "#{inventory.name}" %>
    </h5>
     <%= button_to 'REMOVE', '/inventories/', method: :delete, class:'link'%>
    </div>
    <div class="right-side">
      <p> <%= "#{inventory.description}" %></p>
    </div>
    </div>
    <% end %>
  <% end %>
</div>
</div>
