<div class="main">
<div class="container">
<%= form_with model: Inventory, url: inventories_url(@inventory), class:"form", method: :post do |f| %>
<h1>Add new inventories</h1>
  <% if @inventory.errors.any? %>
     <ul class = "errors-decr">
        <% @inventory.errors.full_messages.each do |errors| %>
          <li><%= errors %></li>
        <% end %>
     </ul>
  <% end %>
  <%= f.text_field :name, placeholder:"Inventory name", required: true, class:"form-control p-2 mt-2 form__field"  %>
  <%= f.text_area :description, placeholder:"Inventory description", required: true, size: '50x10', class:"form-control p-2 mt-2" %>
  <%= f.submit "Create Inventory", class: "btn btn--primary btn--inside uppercase" %>
<% end %>
</div>
</div>